.cajaFormulario label {
    display: block;
    width: 200px;
    font-family: 'Jaldi', sans-serif;
}

.cajaFormulario input {
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
    
}

textarea {
    width: 300px;
    height: 100px;
    
}